// SPDX-License-Identifier: (GPL-2.0+ OR X11)

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/display/st7701initseq.h>

/ {
	model = "ArkEPass Generic";
	compatible = "rhodesisland,electric-pass",
	         "allwinner,suniv-f1c200s",
			 "allwinner,suniv-f1c100s";

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/*
		 * this CMA size will be changed by U-Boot according to the detected DRAM size.
		 * For 32M board, the size will be 16M; for 64M board, the size will be 32M.
		 */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x1000000>; /* 16 MiB */
			linux,cma-default;
		};
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 10000 0>;


		brightness-levels = <0 4 8 16 32 64 128 196 220 255>;
		default-brightness-level = <6>;
	};

	panel: panel {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			panel_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
	};

	st7701initseq: st7701initseq {
		compatible = "lattland,st7701-initseq";
		status = "disabled";
	};
};

&pio{
	spi1_pins: spi1-pins {
		pins = "PE7","PE8", "PE9", "PE10";
		function = "spi1";
		bias-pull-up;
	};
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pe_pins>;
	status = "okay";
};

&spi0 {
	status = "okay";

	spi-nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0>;
		/*
		 * The CDR2 divider off the 200MHz AHB only yields 100/50/33MHz,
		 * so anything under 100 lands on 50. W25N01GV is good to 104.
		 */
		spi-max-frequency = <100000000>;
		/* suniv has no dual TX and no D2/D3 pins, so reads only */
		spi-rx-bus-width = <2>;
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x0e0000>;
				read-only;
			};

			partition@e0000 {
				label = "bootenv";
				reg = <0x0e0000 0x020000>;
			};

			partition@100000 {
				label = "boot";
				reg = <0x100000 0x600000>;
			};

			/* lower layer of overlayfs */
			partition@700000 {
				label = "rootfs";
				reg = <0x700000 0x1c00000>;
			};

			/* upper layer of overlayfs */
			partition@2300000 {
				label = "data";
				reg = <0x2300000 0x5d00000>;
			};
		};
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	status = "disabled";
	spidev@0 {
	   compatible = "rohm,dh2228fv";	/* Same as "spidev" but without errors at boot. Search "buggy DT" to understand */
	   spi-max-frequency = <80000000>;
	   reg = <0>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&mmc0 {
	bus-width = <4>;
	status = "okay";
	broken-cd;
};

&otg_sram {
	status = "okay";
};

&usb_otg {
	dr_mode = "otg"; /* otg host peripheral */
	status = "okay";
};

&usbphy {
	status = "okay";
};

&de {
	status = "okay";
};

&fe0 {
	status = "okay";
};

&be0 {
	status = "okay";
};

&tve0 {
	status = "disabled";
};

&cedar_ve {
	status = "okay";
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};
