// SPDX-License-Identifier: (GPL-2.0+ OR X11)

#include "epass_common.dtsi"

/ {
	chosen {
		// this bootargs will not work. change bootargs in uboot!
		bootargs = "i luv mostima";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_lradc: reg_lradc {
		compatible = "regulator-fixed";
		regulator-name = "lradc_vref";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
	};

	bat: battery {
		compatible = "simple-battery";
		voltage-min-design-microvolt = <3300000>;
		voltage-max-design-microvolt = <4200000>;
		ocv-capacity-celsius = <20>;
		/*
		 * 初版由 drm_app_neo config.h 的 raw 阈值(2140/2230/2320/2410/2500)
		 * 按 raw*0.7324mV*2.294 换算,保持与现有图标分档一致;待上板
		 * 万用表标定后细化(真实 Li-ion OCV 曲线是非线性的)
		 */
		ocv-capacity-table-0 = <4200000 100>, <4050000 75>,
				       <3900000 50>, <3750000 25>,
				       <3600000 0>;
	};

	vbat_sense: voltage-divider {
		compatible = "voltage-divider";
		io-channels = <&rtp 0>;	/* PA0 = aux ADC chan0 */
		/* 分压比 2.294 由 app 旧阈值(full=raw2500≈4.2V)反推,待标定 */
		full-ohms = <2294>;
		output-ohms = <1000>;
		#io-channel-cells = <1>;
	};

	adc_bat: adc-battery {
		compatible = "adc-battery";
		io-channels = <&vbat_sense 0>;
		io-channel-names = "voltage";
		monitored-battery = <&bat>;
		/* 对应旧 raw 阈值 2600;充电器把采样轨拉到电池 OCV 达不到的电压 */
		charging-threshold-microvolt = <4370000>;
	};
};

&panel {
	compatible = "lattland,mostima", "simple-panel";	// 360x640 3 inch
};

&pio{
	rtp_pins_0: rtp-pins-0 {
		pins = "PA0";
		function = "rtp";
	};

	rtp_pins_01: rtp-pins-01 {
		pins = "PA0","PA1";
		function = "rtp";
	};

	lcd_rgb565_no_de_pins: lcd-rgb565-no-de-pins {
		pins = "PD1", "PD2", "PD3", "PD4", "PD5",
			"PD6", "PD7", "PD8", "PD9", "PD10", "PD11",
			"PD13", "PD14", "PD15", "PD16", "PD17",
			"PD18", "PD20", "PD21";
		function = "lcd";
	};

	i2s_pins_pe: i2s-pins-pe {
		pins = "PE3","PE5","PE6","PA1";
		function = "i2s";
	};

	i2s_pins_pa: i2s-pins-pa {
		pins = "PE3","PA2","PA3","PA1";
		function = "i2s";
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pa_pins>;
	status = "disabled";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pe_pins>;
	status = "disabled";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
};

&rtp {
	status = "okay";
	pinctrl-0 = <&rtp_pins_0>;
	pinctrl-names = "default";
};

&tcon0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb565_no_de_pins>;
	status = "okay";
};

&lradc {
	vref-supply = <&reg_lradc>;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pd_pins>;
	status = "disabled";
};
