// SPDX-License-Identifier: (GPL-2.0+ OR X11)

#include "epass_common.dtsi"

/ {
	chosen {
		// this bootargs will not work. change bootargs in uboot!
		bootargs = "i luv papyrus";
	};

	/* 720x1280 scanout */
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x2000000>; /* 32 MiB */
			linux,cma-default;
		};
	};
};

&panel {
	compatible = "sargon,papyrus", "simple-panel";	// 720x1280 3.5 inch
};

&st7701initseq {
	srgn,mipi-bridge-mode;
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pd_pins>;
	status = "okay";

	axp209: pmic@34 {
		compatible = "x-powers,axp209";
		reg = <0x34>;
		interrupt-controller;
		#interrupt-cells = <1>;

		/* PEK 是面板上的 "0" 键, 不是关机键 */
		x-powers,pek-keycode = <KEY_0>;
	};
};

#include "axp209.dtsi"

&battery_power_supply {
	status = "okay";

	x-powers,no-thermistor;
};

&ac_power_supply {
	status = "okay";
};

&usb_power_supply {
	status = "okay";
};

&reg_dcdc2 {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
	regulator-always-on;
};

&reg_dcdc3 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-always-on;
};

&mmc0 {
	vmmc-supply = <&reg_dcdc3>;
};

&tcon0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb565_pins>;
	status = "okay";
};
